*{
    margin:0;
    padding:0;
}
body{
background-color: #333;
color: #fff;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud
{
    width:80%;
    margin:auto;
}
.head
{
    text-transform: uppercase;
    text-align: center;
    margin:10px 0;
}
input
{
    width:100%;
    height:30px;
    border-radius: 4px;
    background-color: #111;
    margin:4px 0;
    border:none;
    outline:none;
    padding:4px;
    color:#fff;
}
input:focus
{
    background-color: #000;
    transform:scale(1.1);
}
.price input
{
    width:20%;
}
#total
{
    background-color: rgb(130, 9, 9);
    border-radius: 4px;
    padding:5px;
}
#total::before
{
    content:'Total: ';
}
button{
    cursor: pointer;
    border:none;
    width:100%;
    height:30px;
    color:#fff;
    background: rgb(70, 2, 85);
    border-radius: 20px;
    transition: 0.5s;
}
button:hover
{
    background-color: rgb(79, 5, 96);
    letter-spacing: 1px;
}
.btnSearch
{
    display:flex;
    justify-content: space-between;
}
.btnSearch button
{
    width:45%;
}
table
{
    width:100%;
    text-align: center;
    margin:10px 0;
}
th,td
{
    padding:5px;
}
th{
    text-transform: uppercase;
}
#delete_all
{
    margin:20px 0;
}